.prise-container {
    display: grid;
    grid-template-rows: 127px repeat(4, 44px);
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .prise-container {
        display: none;
    }
}