@import url(./__element/item-number__element.css);

.item-number {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #e14a9d;
    display: flex;
    margin-left: -13px;
    margin-top: 2px;
}