.body {
    margin: auto;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .body {

    }
}