.video-block {
    width: 100%;
    max-width: 632px;
    border-radius: 5px;
    margin-right: 17px;
    margin-top: 38px;
}

.video-block:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .video-block {
        margin-right: 0;
    }
}