.instructions-setting {
    width: 100%;
    max-width: 500px;
}

@media screen and (max-width: 1024px) {
    .instructions-setting {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}