.row-text-first {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media screen and (max-width: 1024px) {
    .row-text-first {
        display: flex;
        justify-content: space-between;
    }
}