.offer {
    width: 100%;
    max-width: 903px;
    margin: 118px auto 0;
    padding-bottom: 109px;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
    .offer {
        flex-direction: column;
        margin-top: 65px;
        padding-bottom: 55px;
    }
}