@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Montserrat.css);
@import url(./blocks/body/body.css);
@import url(./blocks/container/container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo-container/logo-container.css);
@import url(./blocks/menu/menu.css);
@import url(./blocks/menu-list/menu-list.css);
@import url(./blocks/entrance/entrance.css);
@import url(./blocks/menu-mobile-icon/menu-mobile-icon.css);
@import url(./blocks/content/content.css);
@import url(./blocks/offer/offer.css);
@import url(./blocks/presentation/presentation.css);
@import url(./blocks/description/description.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/video/video.css);
@import url(./blocks/opportunities/opportunities.css);
@import url(./blocks/instructions/instructions.css);
@import url(./blocks/questions/questions.css);
@import url(./blocks/tarifes/tarifes.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/offer-text-block/offer-text-block.css);
@import url(./blocks/texts/texts.css);
@import url(./blocks/links/links.css);
@import url(./blocks/offer-button/offer-button.css);
@import url(./blocks/offer-image/offer-image.css);
@import url(./blocks/presentation-list/presentation-list.css);
@import url(./blocks/description-info/description-info.css);
@import url(./blocks/item-number/item-number.css);
@import url(./blocks/item-texts-box/item-texts-box.css);
@import url(./blocks/item-text-span/item-text-span.css);
@import url(./blocks/description-info-image/description-info-image.css);
@import url(./blocks/description-subtitle/description-subtitle.css);
@import url(./blocks/block-text/block-text.css);
@import url(./blocks/table/table.css);
@import url(./blocks/number/number.css);
@import url(./blocks/presentation-list/__title/_mod/presentation-list__title_mod.css);
@import url(./blocks/presentation-list/__item/_second/presentation-list__item_second.css);
@import url(./blocks/presentation-list/__item/_thrid/presentation-list__item_thrid.css);
@import url(./blocks/presentation-list/__item/_four/presentation-list__item_four.css);
@import url(./blocks/table-list/table-list.css);
@import url(./blocks/table-list-item/table-list-item.css);
@import url(./blocks/table-list-namber/table-list-namber.css);
@import url(./blocks/table-list-namber-text/table-list-namber-text.css);
@import url(./blocks/table-list-text/table-list-text.css);
@import url(./blocks/smail/smail.css);
@import url(./blocks/smail-image/smail-image.css);
@import url(./blocks/resultat/resultat.css);
@import url(./blocks/na/na.css);
@import url(./blocks/prez-two/prez-two.css);
@import url(./blocks/long-mod/long-mod.css);
@import url(./blocks/item-two/item-two.css);
@import url(./blocks/item-four/item-four.css);
@import url(./blocks/item-three/item-three.css);
@import url(./blocks/prez-two-text/prez-two-text.css);
@import url(./blocks/prez-l-two/prez-l-two.css);
@import url(./blocks/cards-item/cards-item.css);
@import url(./blocks/cards-item-image/cards-item-image.css);
@import url(./blocks/cards-item-text/cards-item-text.css);
@import url(./blocks/video-title/video-title.css);
@import url(./blocks/video-block/video-block.css);
@import url(./blocks/video-link/video-link.css);
@import url(./blocks/video-button/video-button.css);
@import url(./blocks/opportunities-title/opportunities-title.css);
@import url(./blocks/opportunities-list/opportunities-list.css);
@import url(./blocks/opportunities-list-item/opportunities-list-item.css);
@import url(./blocks/opportunities-image/opportunities-image.css);
@import url(./blocks/opportunities-text/opportunities-text.css);
@import url(./blocks/opportunities-list-item-title/opportunities-list-item-title.css);
@import url(./blocks/instructions-settings-block/instructions-settings-block.css);
@import url(./blocks/instructions-setting/instructions-setting.css);
@import url(./blocks/instructions-setting-texts/instructions-setting-texts.css);
@import url(./blocks/instructions-setting-texts-title/instructions-setting-texts-title.css);
@import url(./blocks/instructions-setting-texts-subtitle/instructions-setting-texts-subtitle.css);
@import url(./blocks/instructions-setting-title/instructions-setting-title.css);
@import url(./blocks/instructions-setting-cards/instructions-setting-cards.css);
@import url(./blocks/instructions-setting-cards-item/instructions-setting-cards-item.css);
@import url(./blocks/setting-cards-item-texts/setting-cards-item-texts.css);
@import url(./blocks/setting-cards-item-title/setting-cards-item-title.css);
@import url(./blocks/setting-cards-item-subtitle/setting-cards-item-subtitle.css);
@import url(./blocks/instructions-settings-block-image/instructions-settings-block-image.css);
@import url(./blocks/setting-image/setting-image.css);
@import url(./blocks/instruction-title/instruction-title.css);
@import url(./blocks/instruction-table/instruction-table.css);
@import url(./blocks/instruction-list/instruction-list.css);
@import url(./blocks/instruction-table-title-mod/instruction-table-title-mod.css);
@import url(./blocks/opportunities-text-mod/opportunities-text-mod.css);
@import url(./blocks/instruction-offer/instruction-offer.css);
@import url(./blocks/instruction-offer-line/instruction-offer-line.css);
@import url(./blocks/instruction-offer-title/instruction-offer-title.css);
@import url(./blocks/instruction-plstform-info-box/instruction-plstform-info-box.css);
@import url(./blocks/instruction-plstform-info/instruction-plstform-info.css);
@import url(./blocks/instruction-plstform-info-title/instruction-plstform-info-title.css);
@import url(./blocks/instruction-plstform-info-images/instruction-plstform-info-images.css);
@import url(./blocks/platform-image/platform-image.css);
@import url(./blocks/platform-image-item/platform-image-item.css);
@import url(./blocks/support/support.css);
@import url(./blocks/support-title/support-title.css);
@import url(./blocks/support-cards/support-cards.css);
@import url(./blocks/support-cards-item/support-cards-item.css);
@import url(./blocks/support-image/support-image.css);
@import url(./blocks/support-texts/support-texts.css);
@import url(./blocks/support-texts-title/support-texts-title.css);
@import url(./blocks/support-texts-subtitle/support-texts-subtitle.css);
@import url(./blocks/questions-title/questions-title.css);
@import url(./blocks/questions-list/questions-list.css);
@import url(./blocks/questions-list-item/questions-list-item.css);
@import url(./blocks/questions-list-item-text-block/questions-list-item-text-block.css);
@import url(./blocks/questions-list-item-title/questions-list-item-title.css);
@import url(./blocks/questions-list-item-subtitle/questions-list-item-subtitle.css);
@import url(./blocks/tarifes-title/tarifes-title.css);
@import url(./blocks/tarifes-choice/tarifes-choice.css);
@import url(./blocks/tarifes-button/tarifes-button.css);
@import url(./blocks/tarifes-button-mode/tarifes-button-mode.css);
@import url(./blocks/tarifes-button-sale/tarifes-button-sale.css);
@import url(./blocks/tarifes-sale-text/tarifes-sale-text.css);
@import url(./blocks/prise-block/prise-block.css);
@import url(./blocks/prise-title/prise-title.css);
@import url(./blocks/prise/prise.css);
@import url(./blocks/prise-rub/prise-rub.css);
@import url(./blocks/prise-figure/prise-figure.css);
@import url(./blocks/prise-figure-decor/prise-figure-decor.css);
@import url(./blocks/prise-figure-decor-figure/prise-figure-decor-figure.css);
@import url(./blocks/prise-figure-decor-descriptor/prise-figure-decor-descriptor.css);
@import url(./blocks/prise-container/prise-container.css);
@import url(./blocks/prise-block-two/prise-block-two.css);
@import url(./blocks/prise-link/prise-link.css);
@import url(./blocks/prise-button/prise-button.css);
@import url(./blocks/prise-block-thrid/prise-block-thrid.css);
@import url(./blocks/prise-block-four/prise-block-four.css);
@import url(./blocks/row-text/row-text.css);
@import url(./blocks/row-text-first/row-text-first.css);
@import url(./blocks/row-text-second/row-text-second.css);
@import url(./blocks/row-text-thrid/row-text-thrid.css);
@import url(./blocks/row-text-four/row-text-four.css);
@import url(./blocks/row-text-link/row-text-link.css);
@import url(./blocks/row-text-link-box/row-text-link-box.css);
@import url(./blocks/row-text-link-box-first/row-text-link-box-first.css);
@import url(./blocks/row-text-link-box-second/row-text-link-box-second.css);
@import url(./blocks/row-text-link-box-third/row-text-link-box-third.css);
@import url(./blocks/row-text-link-box-four/row-text-link-box-four.css);
@import url(./blocks/simbol/simbol.css);
@import url(./blocks/simbol-first/simbol-first.css);
@import url(./blocks/simbol-second/simbol-second.css);
@import url(./blocks/simbol-thrid/simbol-thrid.css);
@import url(./blocks/simbol-four/simbol-four.css);
@import url(./blocks/simbol-five/simbol-five.css);
@import url(./blocks/simbol-sixt/simbol-sixt.css);
@import url(./blocks/simbol-seven/simbol-seven.css);
@import url(./blocks/simbol-eight/simbol-eight.css);
@import url(./blocks/simbol-nine/simbol-nine.css);
@import url(./blocks/simbol-ten/simbol-ten.css);
@import url(./blocks/simbol-eleven/simbol-eleven.css);
@import url(./blocks/simbol-tvalve/simbol-tvalve.css);
@import url(./blocks/simbol-thirteen/simbol-thirteen.css);
@import url(./blocks/simbol-fourteen/simbol-fourteen.css);
@import url(./blocks/simbol-fifteen/simbol-fifteen.css);
@import url(./blocks/simbol-sixteen/simbol-sixteen.css);
@import url(./blocks/prise-subtitle-box/prise-subtitle-box.css);
@import url(./blocks/prise-subtitle/prise-subtitle.css);
@import url(./blocks/footer-info/footer-info.css);
@import url(./blocks/footer-logo/footer-logo.css);
@import url(./blocks/footer-link-site/footer-link-site.css);
@import url(./blocks/footer-copyright/footer-copyright.css);
@import url(./blocks/footer-oferta/footer-oferta.css);
@import url(./blocks/footer-police/footer-police.css);
@import url(./blocks/footer-contacts-icons/footer-contacts-icons.css);
@import url(./blocks/footer-contacts-image/footer-contacts-image.css);
@import url(./blocks/footer-services/footer-services.css);
@import url(./blocks/footer-title/footer-title.css);
@import url(./blocks/footer-services-link-block/footer-services-link-block.css);
@import url(./blocks/footer-link/footer-link.css);
@import url(./blocks/footer-services-link-block-new/footer-services-link-block-new.css);
@import url(./blocks/footer-new/footer-new.css);
@import url(./blocks/footer-services-link-block-mode/footer-services-link-block-mode.css);
@import url(./blocks/footer-servises-image/footer-servises-image.css);
@import url(./blocks/footer-question/footer-question.css);
@import url(./blocks/footer-link-read/footer-link-read.css);
@import url(./blocks/smail-mod/smail-mod.css);




a:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}
