.instructions-setting-cards {
    width: 100%;
    max-width: 433px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@media screen and (max-width: 1024px) {
    .instructions-setting-cards {
        margin: auto;
    }
}