.support {

    width: 100%;
    max-width: 908px;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 85px;

}

@media screen and (max-width: 1024px) {
    .support {
        padding-bottom: 50px;
    }
}