.questions-list {
    margin: 41px auto 0;
    width: 100%;
    max-width: 903px;
    box-sizing: border-box;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (max-width: 1024px) {
    .questions-list {
        padding: 0;
    }
}