@import url(./__text/entrance__text.css);
@import url(./__icon/entrance__icon.css);
.entrance {
    text-decoration: none;
    padding: 0;
    margin: 21px 0 0 87px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1024px) {
    .entrance {
        display: none;
    }
}