.table__item {
    width: 100%;
    max-width: 439px;
    display: flex;
    flex-direction: column;
}

.table__item:last-child {
    max-width: 364px;
    margin-left: 57px;
}

.table__item:first-child {
    border-right: 1px solid #eaeaea;
}

@media screen and (max-width: 1024px) {
    .table__item:last-child {
        margin-left: 0;
    }

    .table__item:first-child {
        border: none;
    }
}