.description-info__item {
    width: max-content;
    display: flex;
    margin: 30px 0 0 0;
}

@media screen and (max-width: 1024px) {
    .description-info__item {
        width: 100%;
        max-width: 300px;
    }
}