.header {
    width: 100%;
    max-width: 903px;
    display: flex;
    margin: auto;
    box-sizing: border-box;

    

}

@media screen and (max-width: 1024px) {
    .header {
        justify-content: space-between;
        padding: 0 15px;
    }
}