.header {
    width: 100%;
    max-width: 903px;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;

}

@media screen and (max-width: 1024px) {
    .header {
        justify-content: space-between;
    }
}