.row-text {
    margin: 0 27px 0 0;
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px 0 0 19px;
}

@media screen and (max-width: 1024px) {
    .row-text {
        margin: 0;
        padding: 15px 0 15px 15px;
    }
}