.tarifes-button {
    color: #e03a97;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 9px 0 10px 0;
    width: 100%;
    background-color: white;
    font-weight: 700;
    position: relative;
}