.instructions-settings-block-image {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    position: absolute;
    bottom: 1px;
    right: 1px;
}

@media screen and (max-width: 1024px) {
    .instructions-settings-block-image {
        position: relative;
        margin: 30px auto 0;
    }
}