@import url(./__image/menu-mobile-icon__image.css);

.menu-mobile-icon {
    display: none;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    max-width: 35px;
    height: 100%;
    min-height: 35px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 20px -8px rgb(15 15 15 / 88%);
    margin: 23px 0 0 0;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .menu-mobile-icon {
        display: flex;
    }
}