.opportunities-list-item-title {
    font-size: 19px;
    line-height: 25px;
    margin: 16px 0 0 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .opportunities-list-item-title {
        margin: 0;
    }
}