.row-text-link-box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fdeaf5;
    display: flex;
    align-items: center;
    margin: 12px 0 0 35px;

}

.row-text-link-box:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .row-text-link-box {
        margin: 12px 0 0 10px;
    }
}