.support-cards-item {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -8px rgb(15 15 15 / 88%);
    width: 100%;
    max-width: 433px;
    box-sizing: border-box;
    padding-bottom: 12px;
}