.description-subtitle__text {
    padding: 0;
    margin: 0 0 0 16px;
    font-size: 20px;
    line-height: 35px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .description-subtitle__text {
        margin-left: 0;
    }
}