.block-text {
    padding: 0;
    margin: 2px 0 0 70px;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .block-text {
        margin: 0 auto 70px;
        text-align: center;
    }
}
