.presentation-list__descriptor {
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    max-width: 195px;
    margin: 12px 0 0 0;
    padding: 0;
    box-sizing: border-box;

}

@media screen and (max-width: 1024px) {
    .presentation-list__descriptor {
        font-size: 9px;
        line-height: 20px;
        max-width: 150px;
        margin-top: 5px;
    }
}