.menu-list__item {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.menu-list__item:hover {
    border-top: 2px solid #e03a97;
}