.item-texts-box__subtitle {
    margin: 11px 0 0 20px;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 21px;
    width: 100%;
    max-width: 340px;
    color: #9b9b9b;
}

@media screen and (max-width: 1024px) {
    .item-texts-box__subtitle {
        max-width: 320px;
    }
}

