@import url(./__image/description-subtitle__image.css);
@import url(./__text/description-subtitle__text.css);

.description-subtitle {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 34px;
}

@media screen and (max-width: 1024px) {
    .description-subtitle {
        flex-direction: column;
        align-items: flex-start;
    }
}