@import url(./__item/presentation-list__item.css);
@import url(./__title/presentation-list__title.css);
@import url(./__descriptor/presentation-list__descriptor.css);

.presentation-list {
    display: flex;
    padding: 0;
    margin: 50px auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 903px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .presentation-list {
        flex-wrap: wrap;
        row-gap: 20px;
    }
}