@import url(./__item/presentation-list__item.css);
@import url(./__title/presentation-list__title.css);
@import url(./__descriptor/presentation-list__descriptor.css);

.presentation-list {
    display: flex;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: inherit;
    justify-content: center;
    max-width: 1000px;
}