.opportunities-list-item {
    width: 100%;
    max-width: 273px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media screen and (max-width: 1024px) {
    .opportunities-list-item {
        max-width: 320px;
        flex-direction: row;
    }
}

