.instructions-settings-block {
    width: 100%;
    max-width: 907px;
    display: flex;
    margin: 79px auto 0;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .instructions-settings-block {
        margin-top: 50px;
        justify-content: center;
    }
}