.table__texts {
    width: 100%;
    max-width: 386px;
    padding-left: 12px;
    box-sizing: border-box;
    border-left: 2px solid #e03a97;
    display: flex;
    flex-direction: column;
    color: #8e8e8e;
}