.opportunities-list {
    display: flex;
    width: 100%;
    max-width: 903px;
    flex-wrap: wrap;
    gap: 33px;
    flex-direction: row;
    padding: 0;
    margin: 44px 0 78px 0;
    box-sizing: border-box; 
}

@media screen and (max-width: 1024px) {
    .opportunities-list {
        margin-bottom: 50px;
        justify-content: center;
    }
}