.footer-services {
    width: 100%;
    max-width: 155px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .footer-services {
        max-width: 100%;
        align-items: center;
    }
}