.opportunities {
    width: 100%;
    background-image: url(../../image/фон.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .opportunities {
        background-image: none;
        background-color: white;
    }
}