.video-button {
    background-color: #e03a97;
    width: 100%;
    max-width: 250px;
    border-radius: 50px;
    padding: 20px 30px;
    margin: 63px 25px 68px 0;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    color: white;
}