.offer-button {
    background-color: #e03a97;
    border: none;
    height: 40px;
    width: 100%;
    max-width: 204px;
    color: white;
    border-radius: 50px;
    font-size: 11px;
    line-height: 17px;
}

.offer-button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

@media screen and (max-width: 1024px) {
    .offer-button {
        max-width: none;
        padding: 0 90px 0 90px;
    }
}